
.admin-login-wrapper {
  min-height: 100vh;
  background: url("/adminpage.jpg")
    no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  font-family: 'Nunito Sans', sans-serif;
}

.admin-login-form {
  background: #ffffff62;
  padding: 45px 35px;
  border-radius: 20px;
  max-width: 420px;
  width: 100%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 24px;
  transition: all 0.3s ease-in-out;
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.admin-login-form h2 {
  text-align: center;
  color:black;
  font-family: "Alex Brush", cursive;
  font-size: 45px;
  font-weight: 500;
}

.admin-login-form input {
  padding: 14px 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: #fafafa;
  font-family: inherit;
  transition: all 0.3s ease;
}

.admin-login-form input:focus {
  outline: none;
  border-color: #ff9800;
  box-shadow: 0 0 0 4px rgba(255, 152, 0, 0.25);
}

.admin-login-form button {
  padding: 14px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.admin-login-form button:hover {
  background: gray;
  transform: translateY(-3px);
}

